.cardHeader {
  text-align: center;
  line-height: 3rem;
}

.webCard {
  margin-bottom: 2%;
  height: 100%;
  border-radius: 25px !important;
}

.cardsCol {
  margin-bottom: 3%;
}

.webCardBody {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.webCardButton {
  border-radius: 25px !important;
  font-size: 1.3rem !important;
  text-decoration: none !important;
  color: #0dcaf0 !important;
}

.webCardButton:hover {
  color: #000000 !important;
}

h5.cardHeader.card-header {
  border-radius: 25px;
}