@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Cairo&family=Changa&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Cairo&family=Lobster&display=swap');


.headerSection {
  background-color: #E1E1CF;
}

h1 {
  font-size: 3rem !important;
  text-align: center !important;
  line-height: 7rem !important;
  color: #f2aa92 !important;
  border-bottom: 0.2rem solid #f2aa92 !important;
}

.ar {
  font-family: 'Changa', sans-serif;
}

.en {
  font-family: 'Lobster', cursive;
}